/* *{
    border: 2px dotted red;
} */
.wrapper{
    width: 950px;
    padding: 10px;
    margin: auto;
}
.header{
    height: 65px;
    width: 100%
}
.name{
    display: inline-block;
    font-family: "Comic Sans MS", "Comic Sans", "cursive";
}
.master{
    display: inline-block;
    text-align: right;
}
.main{
    padding: 10px;
    background-color: #660033;
}
.lead{
    height: 40px;
    background-color: gray;
}
.content{
    background-color: white;
    font-family: "Arial", "Helvetica", "san serif";
    font-size: small;
}
.bio{
    height: 275px;
}
img{
    height: 100%;
}
.photo{
    display: inline-block;
    border: 2px solid white;
    height: 100%;
}
.about-me{
    display: inline-block;
    height: 100%;
    /* width: auto; */
    width: 400px;
}
.project{
    width: 30%;
    display: inline-block;
}
.project img{
    width: 100%;
}
.content img{
    width: 40px;
}
.project p{
    height: 200px;
}
.contact {
    text-align: center;
}
.bottom img{
    height: 15px;
}
.bottom ul{
    text-align: center;
}
.bottom li{
    display: inline-block;
}